body {
	margin: 0px;
	display: flex;
	background-image: url("./assets/login-page-bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "Inter", sans-serif;
}

body::before {
	content: "";
	position: absolute;
	inset: 0;
	background: rgba(0, 0, 0, 0.4);
	z-index: 0;
	pointer-events: none;
}

body > * {
	position: relative;
	z-index: 1;
}

.input-field-on-error {
	box-shadow: 0 0 0 1px var(--el-color-danger) inset !important;
}

.fb-20 {
	flex-basis: 20%;
}

.fb-30 {
	flex-basis: 30%;
}

.fb-35 {
	flex-basis: 35%;
}

.fb-40 {
	flex-basis: 40%;
}

.fb-45 {
	flex-basis: 45%;
}

.fb-50 {
	flex-basis: 50%;
}

.fb-55 {
	flex-basis: 55%;
}

.fb-60 {
	flex-basis: 60%;
}

.fb-100 {
	flex-basis: 100%;
}
